#calc{
    height: auto;
    width: 180px;
    border: 1px solid rgb(151, 145, 145);
    margin:30px auto ;
    border-radius: 8px;
        background-image: radial-gradient(rgb(231,223,223),rgb(188,188,188),rgb(133,132,132));

}
input[type="text"]{
    height: 35px;
    width:96%;
    font-size: 30px;
    border-radius: 8px;
    border:1px solid gray;
    margin: 1px;
}
button{
    border-radius: 50px;
    padding: 8px;
    width: 20%;
    margin: 3px;
    border:none;


}
button:hover{
color: rgb(83, 83, 252);
background-image: radial-gradient(rgb(91,173,255),rgb(137,196,188),rgb(219,238,255));
}