.Do{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
   
}
.Doo{
    font-size: 15px;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.t1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 380;
   font-size: 14px;
}
